<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">





  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/material-lite/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/material-lite/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
  <link href="/material-lite/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
  <link href="/material-lite/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
  <link href="/material-lite/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
  <link href="/material-lite/lite/css/style.css" rel="stylesheet">
  <link href="/material-lite/lite/css/colors/blue.css" id="theme" rel="stylesheet">










<!-- 
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/clean-blog.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>
  -->
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'> 

  <link rel="stylesheet" href="/css/style.css">  

</head>
<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">
        {{#if cur_user}}
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><span>T Y M E</span></a>
                </div>
               
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item"> 
                            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> 
                        </li> 
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/material-lite/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10" />{{cur_user.firstName}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {{/if}}
        {{#if cur_user}}
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/posts" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-message-reply-text"></i><span class="hide-menu">Edgardo, Dwayne, Aryan</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-message-reply-text"></i><span class="hide-menu">Carlos, Rachel</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="sidebar-footer">
              <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
              <a href="" class="link" data-toggle="tooltip" title="Logout" id="logout"><i class="mdi mdi-power"></i></a> 
            </div>
        </aside>
        {{/if}}
        {{{ body }}}

    </div>

  <!-- <div class="navbar-fixed">
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12">
            {{#if cur_user}}
            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            {{/if}}
            <a href="#" class="brand-logo">T Y M E</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">HOME</a></li>
              {{#if cur_user}}
              <li><a href="/contacts">CONTACTS</a></li>
              <li><a href="/posts">MESSAGES</a></li>
              <li id="logout"><a href="#">LOGOUT</a></li>
              {{else}}
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/sign-up">SIGN UP</a></li>
              {{/if}}

            </ul>
          </div>
        </div>
        {{#if cur_user}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">HOME</a></li>
          <li><a href="/contacts">CONTACTS</a></li>
          <li><a href="/posts">MESSAGES</a></li>
          <li id="logout"><a href="#">LOGOUT</a></li>
        </ul>
        {{/if}}
      </div>
    </nav>
  </div> -->


<!--   <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">Tyme</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          {{#if cur_user}}
          <li><a href="/users">Users</a></li>
          <li><a href="/posts">Posts</a></li>
          
          <li id="logout"><a href="#">Logout</a></li>
          {{ else }}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav> -->


  <script src="/material-lite/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/material-lite/assets/plugins/bootstrap/js/tether.min.js"></script>
  <script src="/material-lite/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/material-lite/lite/js/jquery.slimscroll.js"></script>
  <script src="/material-lite/lite/js/waves.js"></script>
  <script src="/material-lite/lite/js/sidebarmenu.js"></script>
  <script src="/material-lite/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <script src="/material-lite/lite/js/custom.min.js"></script>
  <script src="/material-lite/assets/plugins/chartist-js/dist/chartist.min.js"></script>
  <script src="/material-lite/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="/material-lite/assets/plugins/d3/d3.min.js"></script>
  <script src="/material-lite/assets/plugins/c3-master/c3.min.js"></script>
  <script src="/material-lite/lite/js/dashboard1.js"></script>



  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/jqBootstrapValidation.js"></script>
  <script src="/js/contact_me.js"></script>
  <script src="/js/clean-blog.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>

  <script src="js/index.js"></script>

  {{#if cur_user}}
  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>
  {{/if}}
</body>

</html>
