
  <section class="video-container">
    <video src="https://static.videezy.com/system/resources/previews/000/000/211/original/City%20street%20time%20lapse%20[SaveYouTube.com].mp4" autoplay loop playsinline></video>
    <div class="callout">
      <h1 id="front-title">T Y M E</h1>
      <div>
        <p id="front-title"><br>TIME IS NOW ON YOUR SIDE</p>
        <form name="sign-up-button" method="GET" action="/sign-up" class="inline">
          <button type="submit" class="btn btn-success waves-effect waves-dark">Sign up</button>
        </form>
        <form name="login-button" method="GET" action="/login" class="inline">
          <button type="submit" class="btn btn-success waves-effect waves-dark">Log In</button>
        </form>
      </div>
    </div>
    <!-- <div class="support">
       <a href="#">Browser Support</a><br>
       <a href="#">Need to support IE &amp; Edge?</a>
    </div> -->
  </section>
